{% extends "base.html"%}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <p class="article-content">{{ post.content }}</p>
                <div class="articel-metadata">
                    by: <a href="#" class="mr-2">{{post.author.username }}</a> <br>
                    posted at:    <small class="text-muted"> {{ post.date_posted.strftime("%m/%d/%Y, %H:%M:%S") }}</small>
                    {% if post.author == current_user %}
                    <div>
                        <button class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </article>
        <!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Comment</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form action="" method="POST">
              <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
    {% endfor %}
{% endblock content%}